<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find robot)/urdf/martin.xacro"/>
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model martin -x 0 -y 0 -z 0 -R 0 -P 0 -Y 1.57" output="screen"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value=" $(find robot)/worlds/urc_1.world"/>
        <arg name="paused" value="false"/>
    </include>

    <node pkg="robot" type="simulation_imu" name="simulation_imu" output="screen"/> 
    <!-- <node pkg="stereo" type="inference.py" name="inference" output="screen"/>  -->
    <!-- <node pkg="stereo" type="cone_inference.py" name="cone_inference" output="screen"/>  -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot)/rviz_config/config.rviz"/> -->

</launch>